.game-container {
  display: grid;
  grid-template-columns: [col-1st] 10rem [col-2nd] 10rem [col-3rd] 10rem [col-4th] 10rem [col-5th] 10rem;
  grid-template-rows: [row-1st] 20rem  [row-2nd] 20rem [row-3rd] 20rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.rock {
  color: rgb(170, 65, 0);
  grid-row: row-1st;
  grid-column: col-3rd;
}

.paper {
  color: rgb(255, 228, 105);
  grid-row: row-3rd;
  grid-column: col-1st;
}

.scissors {
  color: rgb(5, 104, 234);
  grid-row: row-3rd;
  grid-column: col-5th;
}

.selected {
  transform: scale(1.1);
  opacity: 1;
}

.unselected {
  opacity: 0.8;
}

.choose {
  border-radius: 20%;
  height: 100%;
  width: 100%;
  padding: 0 4rem;
  display: flex;
  align-items: center;
}

.players-choose {
  border: 3px solid rgb(64, 139, 3, 0.3);
  grid-row: row-2nd;
  grid-column: col-2nd;
}

.computer-choose {
  border: 3px solid rgba(161, 140, 51, 0.3);
  grid-row: row-2nd;
  grid-column: col-4th;
}

.game-state {
  font-family: Montserrat-Light;
  font-size: 3.5rem;
  padding: 2rem;
  grid-row: row-3rd;
  grid-column: span 3;
  text-align: center;
}
