<div
  class="game-container"
>
  <ng-container *ngTemplateOutlet="ROCK; context:{allowBig: true, onClick: onRockClick.bind(this)}"></ng-container>
  <ng-container *ngTemplateOutlet="PAPER; context:{allowBig: true, onClick: onPaperClick.bind(this)}"></ng-container>
  <ng-container
    *ngTemplateOutlet="SCISSORS; context:{allowBig: true, onClick: onScissorsClick.bind(this)}"></ng-container>

  <div
    class="choose players-choose"
  >

    <ng-container
      [ngSwitch]="selected"
    >
      <ng-container *ngSwitchCase="'ROCK'">
        <ng-container *ngTemplateOutlet="ROCK; context:{allowBig: false, onClick: onUnset.bind(this)}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'PAPER'">
        <ng-container
          *ngTemplateOutlet="PAPER; context:{allowBig: false, onClick: onUnset.bind(this)}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'SCISSORS'">
        <ng-container
          *ngTemplateOutlet="SCISSORS; context:{allowBig: false, onClick: onUnset.bind(this)}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'UNSET'"></ng-container>

    </ng-container>

  </div>

  <div
    class="choose computer-choose"
  >
    <ng-container
      [ngSwitch]="computerSelected"
    >
      <ng-container *ngSwitchCase="'ROCK'">
        <ng-container *ngTemplateOutlet="ROCK; context:{allowBig: false, onClick: onUnset.bind(this)}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'PAPER'">
        <ng-container
          *ngTemplateOutlet="PAPER; context:{allowBig: false, onClick: onUnset.bind(this)}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'SCISSORS'">
        <ng-container
          *ngTemplateOutlet="SCISSORS; context:{allowBig: false, onClick: onUnset.bind(this)}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchDefault></ng-container>

    </ng-container>
  </div>

  <div
    class="game-state"
  >
    <ng-container
      [ngSwitch]="gameState"
    >
      <ng-container
        *ngSwitchCase="'PLAYER_WON'"
      >
        You Won!
      </ng-container>
      <ng-container
        *ngSwitchCase="'PLAYER_LOSE'"
      >
        You loose
      </ng-container>
      <ng-container
        *ngSwitchCase="'DRAW'"
      >
        Let's call it a draw...
      </ng-container>
      <ng-container
        *ngSwitchCase="'NEW_GAME'"
      >
        New game
      </ng-container>
      <ng-container *ngSwitchDefault></ng-container>

    </ng-container>
  </div>
</div>

<ng-template #ROCK let-allowBig=allowBig let-onClick=onClick let-scale=scale>
  <fa-icon
    [class.selected]="selected==='ROCK' && allowBig"
    [class.unselected]="selected!=='ROCK'"
    class="icon rock"
    [icon]="rock"
    [size]="size"
    (click)="onClick()"
  >
  </fa-icon>
</ng-template>

<ng-template #SCISSORS let-allowBig=allowBig let-onClick=onClick let-scale=scale>
  <fa-icon
    [class.selected]="selected==='SCISSORS' && allowBig"
    [class.unselected]="selected!=='SCISSORS'"
    class="icon scissors"
    [icon]="scissors"
    [size]="size"
    (click)="onClick()"
  >
  </fa-icon>
</ng-template>

<ng-template #PAPER let-allowBig=allowBig let-onClick=onClick let-scale=scale>
  <fa-icon
    [class.selected]="selected==='PAPER' && allowBig"
    [class.unselected]="selected!=='PAPER'"
    class="icon paper"
    [icon]="paper"
    [size]="size"
    (click)="onClick()"
  >
  </fa-icon>
</ng-template>
